<div class="espaciado info w-100 d-md-flex">
  <div class="saludo h-100 w-100 d-flex flex-column align-items-center justify-content-center text-center">
    <p><span class="titulo">¡Hola!</span>
      <br>Me llamo <span class="cursiva">Agustin Collueque</span>
      <br>Y soy <b>programador web full stack</b>. <fa-icon [icon]="emoteInicio" class="ms-2"></fa-icon>
    </p>
    <div class="container" *ngIf="estaLogeado()">
      <button type="button" class="btn btn-outline-secondary" *ngIf="this.usuario" (click)="modalEditar.toggleModal()">
        Editar Usuario
      </button>
      <app-modal #modalEditar [titulo]="'Editar Usuario'">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="id">Id: </label>
            <input type="hidden" ngModel="{{this.usuario?.id}}" name="id" class="form-control"
              id="idUsuario" placeholder="id" required>
          </div>
          <div class="form-group">
            <label for="nombres">Nombres: </label>
            <input type="text" ngModel="{{this.usuario?.nombre}}" name="nombre" class="form-control"
              id="nombresUsuario" placeholder="nombres" readonly>
          </div>
          <div class="form-group">
            <label for="apellidos">Apellidos: </label>
            <input type="text" ngModel="{{this.usuario?.apellido}}" name="apellido" class="form-control"
              id="apellidoUsuario" placeholder="apellido" readonly>
          </div>
          <div class="form-group">
            <label for="fecha de nacimiento">Fecha de Nacimiento: </label>
            <input type="text" ngModel="{{this.usuario?.fechaNacimiento}}" name="fechaNacimiento"
              class="form-control" id="fechaUsuario" placeholder="fechaNacimiento" readonly>
          </div>
          <div class="form-group">
            <label for="estado civil">Estado Civil: </label>
            <input type="text" ngModel="{{this.usuario?.estado}}" name="estado" class="form-control" id="estadoUsuario"
              placeholder="estado civil" required>
          </div>
          <div class="form-group">
            <label for="domicilio">Domicilio: </label>
            <input type="text" ngModel="{{this.usuario?.domicilio}}" name="domicilio" class="form-control"
              id="domicilioUsuario" placeholder="domicilio" required>
          </div>
          <div class="form-group">
            <label for="telefono">Telefono: </label>
            <input type="tel" ngModel="{{this.usuario?.telefono}}" name="telefono" class="form-control"
              id="telefonoUsuario" placeholder="telefono" required>
          </div>
          <div class="form-group">
            <label for="email">Email: </label>
            <input type="email" ngModel="{{this.usuario?.email}}" name="email" class="form-control"
              id="emailUsuario" placeholder="email" readonly>
          </div>
          <div class="form-group">
            <label for="descripcion">Descripcion: </label>
            <input type="text" ngModel="{{this.usuario?.descripcion}}" name="descripcion" class="form-control"
              id="descUsuario" placeholder="descripcion" required>
          </div>
          <div class="form-group">
            <label for="foto de perfil">Url Foto: </label>
            <input type="text" ngModel="{{this.usuario?.foto}}" name="foto" class="form-control"
              id="fotoUsuario" placeholder="url foto" required>
          </div>
        </form>
        <button type="button" class="btn btn-success" (click)="editarUsuario(editForm); modalEditar.toggleModal()">Editar</button>
      </app-modal>
    </div>
  </div>
  <div class="img h-100 w-100 d-none d-md-flex align-items-center justify-content-center">
    <img [src]="this.usuario?.foto" alt="#img-mi-perfil" class="w-50 h-50 rounded-circle">
  </div>
</div>
