.info {
  height: 100vh;
  font-size: var(--textoMediano);

  .saludo {
    .cursiva {
      font-family: 'Dancing Script', cursive;
      font-size: var(--textoMediano);
      color: var(--colorDebil);
      font-weight: 900;
      font-style: italic;
    }
  }
}
