<section class="espaciado text-center">
  <div class="container">
    <div class="titulo p-3 d-flex justify-content-center align-items-center">
      <h1>Formación</h1>
      <div *ngIf="estaLogeado()">
        <button class="btn btn-outline-success mx-3" type="button" (click)="modalAgregar.toggleModal()">
          <fa-icon [icon]="agregarIcon"></fa-icon>
        </button>
        <app-modal #modalAgregar [titulo]="'Agregar Formación'">
          <form #addForm="ngForm" (ngSubmit)="agregarFormacion(addForm)">
            <div class="form-group">
              <label for="tituloForm">Título</label>
              <input type="text" ngModel name="titulo" class="form-control" id="tituloForm" placeholder="titulo" required>
            </div>
            <div class="form-group">
              <label for="tiempoForm">Tiempo</label>
              <input type="text" ngModel name="tiempo" class="form-control" id="tiempoForm" placeholder="tiempo" required>
            </div>
            <div class="form-group">
              <label for="enlaceForm">Enlace</label>
              <input type="text" ngModel name="enlace" class="form-control" id="enlaceForm" placeholder="http://www.example.com" required>
            </div>
            <div class="form-group">
              <label for="imagenForm">URL Imagen</label>
              <input type="text" ngModel name="imagen" class="form-control" id="imagenForm" placeholder="URL" required>
            </div>
          </form>
          <button class="btn btn-success" type="submit" (click)="agregarFormacion(addForm); modalAgregar.toggleModal()">Agregar</button>
        </app-modal>
      </div>
    </div>
    <div class="row p-3" *ngFor="let formacion of this.formaciones">
      <div class="col">
        <img [src]="formacion.imagen" alt="img-item-formacion" width="150px">
        <h4>{{formacion.titulo}}</h4>
        <div class="descripcion p-2">
          <p>{{formacion.tiempo}}</p>
          <a [href]="formacion.enlace">link</a>
        </div>
      </div>
      <div class="d-flex justify-content-center" *ngIf="estaLogeado()">
        <div id="modal-edit">
          <button class="btn btn-outline-secondary" type="button" (click)="modalEditar.toggleModal(); editFormacion = this.formacion">
            <fa-icon [icon]="editarIcon"></fa-icon>
          </button>
          <app-modal #modalEditar [titulo]="'Editar Formacion'">
            <form #editForm="ngForm" (ngSubmit)="editarFormacion(editForm)">
              <div class="form-group">
                <label for="idForm">Id</label>
                <input type="hidden" ngModel="{{editFormacion?.idForm}}" name="idForm" class="form-control" id="idForm"
                  placeholder="id" required>
              </div>
              <div class="form-group">
                <label for="tituloHab">Titulo</label>
                <input type="text" ngModel="{{editFormacion?.titulo}}" name="titulo" class="form-control"
                  id="tituloForm" placeholder="titulo" required>
              </div>
              <div class="form-group">
                <label for="tiempoForm">Tiempo</label>
                <input type="text" ngModel="{{editFormacion?.tiempo}}" name="tiempo" class="form-control"
                  id="tiempoForm" placeholder="tiempo" required>
              </div>
              <div class="form-group">
                <label for="urlimagen">URL imagen</label>
                <input type="text" ngModel="{{editFormacion?.imagen}}" name="imagen" class="form-control" id="urlimagen"
                  placeholder="imagen" required>
              </div>
              <div class="form-group">
                <label for="enlaceForm">enlace</label>
                <input type="text" ngModel="{{editFormacion?.enlace}}" name="enlace" class="form-control"
                  id="enlaceForm" placeholder="http://www.example.com" required>
              </div>
            </form>
            <button class="btn btn-success" type="submit" (click)="editarFormacion(editForm); modalEditar.toggleModal()">Editar</button>
          </app-modal>
        </div>
        <div id="modal-remove">
          <button class="btn btn-outline-danger" type="button" (click)="modalEliminar.toggleModal()">
            <fa-icon [icon]="eliminarIcon"></fa-icon>
          </button>
          <app-modal #modalEliminar [titulo]="'Eliminar Formación'">
            <p>¿Realmente deseas eliminar <b>{{this.formacion.titulo}}</b>?</p>
            <button class="btn btn-danger" type="submit"
              (click)="eliminarFormacion(this.formacion.idForm); modalEliminar.toggleModal()">Eliminar</button>
          </app-modal>
        </div>
      </div>
    </div>
  </div>
</section>
<app-trabajos></app-trabajos>
