<div class="container-fluid p-5">
  <div class="d-flex align-items-center justify-content-center">
    <h1>Habilidades</h1>
    <div *ngIf="estaLogeado()">
      <button class="btn btn-outline-success mx-3" type="button" (click)="modalAgregar.toggleModal()">
        <fa-icon [icon]="agregarIcon"></fa-icon>
      </button>
      <app-modal #modalAgregar [titulo]="'Agregar Habilidad'">
        <form #addForm="ngForm" (ngSubmit)="agregarHabilidad(addForm)">
          <div class="form-group">
            <label for="nombreHab">Nombre</label>
            <input type="text" ngModel name="nombre" class="form-control" id="nombreHab" placeholder="nombre" required>
          </div>
          <div class="form-group">
            <label for="urlLogo">URL logo</label>
            <input type="text" ngModel name="logo" class="form-control" id="urlLogo" placeholder="logo" required>
          </div>
          <div class="form-group">
            <label for="nombreHab">Porcentaje</label>
            <input type="text" ngModel name="porcentaje" class="form-control" id="porcHab" placeholder="%" required>
          </div>
        </form>
        <button class="btn btn-success" type="submit" (click)="agregarHabilidad(addForm); modalAgregar.toggleModal()">Agregar</button>
      </app-modal>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 hab-item pe-5 pb-3 align-center" *ngFor="let habilidad of this.habilidades">
      <div class="d-flex align-items-baseline justify-content-center">
        <div class="hab-item d-flex">
          <p>{{this.habilidad.nombre}}</p>
          <img [src]="this.habilidad.logo" alt="logo-item" width="25px" height="30px" class="mx-2">
        </div>
        <div class="d-flex" *ngIf="estaLogeado()">
          <div id="modal-edit">
            <button class="btn btn-outline-secondary" type="button" (click)="modalEditar.toggleModal(); editHabilidad = this.habilidad">
              <fa-icon [icon]="editarIcon"></fa-icon>
            </button>
            <app-modal #modalEditar [titulo]="'Editar Habilidad'">
              <form #editForm="ngForm" (ngSubmit)="editarHabilidad(editForm)">
                <div class="form-group">
                  <label for="idHab">Id</label>
                  <input type="hidden" ngModel="{{editHabilidad?.idHab}}" name="idHab" class="form-control" id="idHab"
                    placeholder="id" required>
                </div>
                <div class="form-group">
                  <label for="nombreHab">Nombre</label>
                  <input type="text" ngModel="{{editHabilidad?.nombre}}" name="nombre" class="form-control"
                    id="nombreHab" placeholder="nombre" required>
                </div>
                <div class="form-group">
                  <label for="urlLogo">URL logo</label>
                  <input type="text" ngModel="{{editHabilidad?.logo}}" name="logo" class="form-control" id="urlLogo"
                    placeholder="logo" required>
                </div>
                <div class="form-group">
                  <label for="nombreHab">Porcentaje</label>
                  <input type="text" ngModel="{{editHabilidad?.porcentaje}}" name="porcentaje" class="form-control"
                    id="porcHab" placeholder="%" required>
                </div>
              </form>
              <button class="btn btn-success" type="submit" (click)="editarHabilidad(editForm); modalEditar.toggleModal()">Editar</button>
            </app-modal>
          </div>
          <div id="modal-remove">
            <button class="btn btn-outline-danger" type="button" (click)="modalEliminar.toggleModal()">
              <fa-icon [icon]="eliminarIcon"></fa-icon>
            </button>
            <app-modal #modalEliminar [titulo]="'Eliminar Habilidad'">
              <p>¿Realmente deseas eliminar <b>{{this.habilidad.nombre}}</b>?</p>
              <button class="btn btn-danger" type="submit"
                (click)="eliminarHabilidad(this.habilidad.idHab); modalEliminar.toggleModal()">Eliminar</button>
            </app-modal>
          </div>
        </div>
      </div>
      <div class="progress m-2">
        <div class="progress-bar" role="progressbar" [style]="'width: '+this.habilidad.porcentaje+'%;'" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">{{this.habilidad.porcentaje}}</div>
      </div>
    </div>
