<aside id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"><fa-icon [icon]="close"></fa-icon></a>
  <div class="nav" id="aside">
    <ul class="nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="/inicio" aria-current="page">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sobre-mi" aria-current="page">Sobre Mi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/formacion" aria-current="page">Formación</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contacto" aria-current="page">Contacto</a>
      </li>
    </ul>
  </div>
</aside>
<a href="javascript:void(0)" class="openbtn d-block" (click)="openNav()"><fa-icon [icon]="open"></fa-icon></a>
