*{
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--textoPrimario);
}

body {
  background: linear-gradient(var(--colorDebil), var(--colorFuerte), var(--colorDebil));
  min-height: 100vh;
}

.espaciado {
  padding-left: 300px;
}

@media (max-width:999px) {
  .espaciado {
    padding-left: 0;
  }
}
