* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--textoPrimario);
  font-family: 'Calibri';
}

body {
  background: linear-gradient(var(--colorDebil), var(--colorFuerte), var(--colorDebil));
  min-height: 100vh;

  .espaciado {
    padding-left: 300px;
  }

  .titulo, h1 {
    font-size: var(--textoGrande);
    font-family: 'Great Vibes', cursive;
  }
}


@media (max-width:999px) {
  body .espaciado {
    padding-left: 0;
  }
}
